* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jura", sans-serif;
}

/* Cores bases */
:root {
    --azul_header: #13212F;
    --azul_escuro: #495B6D;
    --azul_claro: #7998B7;
    --vermelho: #FF6B6B;
    --cinza_suave: #F5F5F5;
    --fonte: #bdbdbd;
}

ul {
    list-style: none;
}

a {
    all: unset;
}

html {
    scroll-behavior: smooth;
}

/* Header */
header {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 130px;
    z-index: 99;
    background-color: var(--azul_header);
}

header h1 {
    font-family: "Kristi";
    font-size: 55px;
    font-weight: 500;
    color: white;
}

.ulHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 12px;
    gap: 20px;
    color: #bdbdbd;
}

/* Main */
main {
    padding-top: 130px;
}


/* Section About Me */
.aboutMe {
    width: 100%;
    height: 590px;
    line-height: 1.5;
    color: white;
    scroll-margin-top: 130px;
}

.twoColors {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
    width: 100%;
    height: 50%;
    background-color: var(--azul_escuro);
    transition: 0.5s ease;
}

.gray {
    display: none;
}

.blue {
    width: 100%;
    height: 10%;
    padding-left: 5px;
}

.blue p {
    height: 100%;
    padding-left: 15px;
    font-size: 23px;
}

.imageMe {
    width: 90%;
    height: 70%;
    margin-top: 10px;
    background-color: var(--cinza_suave);
    border-style: solid;
    border-color: var(--azul_header);
}

.text {
    height: 50%;
    background-color: var(--azul_claro);
    text-align: justify;
}

.text h2 {
    position: absolute;
    top: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 45px;
    margin-left: 10px;
    font-size: 20px;
    background-color: var(--vermelho);
}

.text p {
    height: 100%;
    padding: 7% 5% 5%;
    font-size: 15px;
}


/* Section Skill */
.skill {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    width: 100%;
    height: 690px;
    padding: 15px 10px 10px;
    line-height: 1.5;
    font-size: 15px;
    text-align: justify;
    scroll-margin-top: 130px;
}

.skill h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 270px;
    height: 45px;
    background-color: var(--vermelho);
    color: white;
}

.imageText {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 70%;
}

.imageTextP {
    height: 50%;
}

.imageText img {
    height: 50%;
    width: 70%;
    background-color: var(--cinza_suave);
}

.skillP {
    height: 24%;
    padding-top: 15px;
}

/* Section Projects */
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1850px;
    scroll-margin-top: 130px;
}

.myProjects {
    width: 100%;
    height: 70%;
}

.myProjects h2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    padding-left: 15px;
    background-color: var(--vermelho);
    color: white;
}

.imgProject {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 80px;
    background-color: var(--cinza_suave);
}

.imgProject div {
    height: 3px;
    width: 41%;
    background-color: black;
}

.galleryProjects {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 85%;
    background-color: var(--cinza_suave);
}

.galleryProjects img {
    width: 100%;
    height: 100%;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 25%;
    font-size: 14px;
    line-height: 1.3;
    text-align: justify;
}

.project div {
    width: 60%;
    height: 50%;
    border-style: solid;
    border-color: var(--azul_header);
}

.projecTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    font-weight: 600;
}

.project :nth-child(3) {
    width: 100%;
    height: 40%;
}

.project p a {
    font-weight: 600;
    color: var(--azul_escuro);
}

.project p a:hover {
    color: var(--vermelho);
}

.myGit {
    height: 500px;
}

/* Footer */
footer {
    width: 100%;
    height: 250px;
    background-color: var(--azul_header);
    color: white;
}

.links {
    padding: 10px;
    width: 100%;
    height: 80%;
}

.ulFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
    gap: 25px;
}

.ulFooter li {
    display: flex;
    align-items: center;
    width: 320px;
    gap: 10px;
}

.ulFooter img {
    width: 25px;
}

.credits {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
    height: 20%;
    padding-top: 15px;
    border-top-style: solid;
    border-color: var(--cinza_suave);
    border-width: 1px;
}

.credits img {
    width: 15px;
    height: 15px;
}

/* Responsividade para tablet */
@media (min-width: 768px) {

    /* Header */
    .ulHeader {
        gap: 80px;
    }

    .ulHeader {
        font-size: 15px;
        gap: 110px;
    }

    /* Section About Me */
    .aboutMe {
        display: flex;
        height: 355px;
    }

    .twoColors {
        width: 65%;
        height: 100%;
    }

    .imageMe {
        position: absolute;
        width: 55%;
        height: 20%;
        top: 210px;
    }

    .gray {
        display: flex;
        height: 40%;
        width: 100%;
        background-color: var(--cinza_suave);
    }

    .blue {
        height: 60%;
        background-color: var(--azul_escuro);
    }

    .blue p {
        padding-top: 15px;
        padding-left: 30px;
    }

    .text {
        width: 35%;
        height: 100%;
    }

    .text h2 {
        width: 100px;
        height: 35px;
        font-size: 13px;
        top: 140px;
        right: 210px;
    }

    .text p {
        font-size: 12.5px;
        padding-top: 50px;
    }

    /* Section skill */
    .skill {
        padding-left: 2%;
        width: 97%;
        gap: 10px;
        margin-top: 40px;
        height: 400px;
    }

    .imageText {
        flex-direction: row;
        gap: 20px;
        width: 100%;
        height: 50%;
    }

    .imageText img {
        width: 35%;
        height: 100%;
    }

    .imageTextP {
        display: flex;
        align-items: end;
        width: 65%;
        height: 100%;
        text-align: justify;
    }

    .skillP {
        height: 30%;
    }

    /* Section Projects */
    .projects {
        align-items: normal;
        flex-direction: row;
        height: 1000px;
        gap: 10px;
        padding: 5px;
        margin-top: 40px;
    }

    .myProjects {
        width: 65%;
        height: 80%;
    }

    .myGit {
        width: 34%;
        height: 50%;
    }

    .galleryProjects {
        gap: 0px;
        height: 100%;
    }

    .project {
        gap: 15px;
        align-items: normal;
        flex-direction: row;
    }

    .projecTitle {
        display: none;
    }

    .project p {
        height: 100%;
    }

    /* Footer */
    .ulFooter {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 10%;
    }
}

/* Responsividade para Max Tablet */
@media (min-width: 1024px) {

    /* Header */
    .ulHeader {
        font-size: 16px;
        gap: 150px;
        margin-bottom: 10px;
    }

    .ulHeader li:hover {
        background-color: #ff6b6b54;
        border-radius: 10px;
        transition: 0.4s ease;
    }

    /* Section About Me */
    .aboutMe {
        padding: 20px 100px 0px 100px;
    }

    .imageMe {
        width: 45%;
        height: 17%;
        top: 215px;
    }

    .text h2 {
        top: 155px;
        right: 320px;
    }

    /* Section Skill */
    .skill {
        padding: 20px 100px 0px 100px;
    }

    .imageText img {
        width: 30%;
    }

    /* Section Projects */
    .projects {
        padding: 20px 100px 0px 100px;
    }

    .myProjects {
        width: 75%;
    }

    .project div {
        height: 75%;
    }

    .myGit {
        width: 24%;
        height: 40%;
    }

    /* Footer  */
    footer {
        height: 190px;
    }

    .ulFooter {
        padding-top: 50px;
        flex-wrap: nowrap;
    }

    .ulFooter li:hover {
        color: var(--vermelho);
        transition: 0.3s ease;
    }
}

@media (width: 1024px) and (max-height: 600px) {

    /* Section About Me */
    .imageMe {
        width: 45%;
        height: 37%;
        top: 215px;
    }

}

@media (width: 1272px) {

    /* Section About Me */
    .imageMe {
        width: 40%;
        height: 32%;
        top: 235px;
    }

    .text h2 {
        right: 400px;
    }

    /* Section Projects */
    .project {
        gap: 15px;
    }
}


/* Responsividade para desktop */
@media (min-width: 1280px) {

    /* Section About Me */
    .imageMe {
        width: 45%;
        height: 30%;
    }

    .blue p {
        padding-left: 60px;
    }

    .text h2 {
        right: 410px;
    }

    /* Section Projects */
    .project div {
        height: 85%;
    }
}

/* Responsividade para Max desktop */
@media (min-width: 1910px) {

    /* Header */
    .ulHeader {
        gap: 260px;
    }

    /* Section About Me */
    .aboutMe {
        padding: 20px 200px 0px 200px;
    }

    .imageMe {
        width: 40%;
        height: 25%;
    }

    .text p {
        font-size: 16px;
    }

    .text h2 {
        right: 660px;
    }

    /* Section Skill */
    .skill {
        padding: 20px 200px 0px 200px;
    }

    .skillP {
        font-size: 16px;
    }

    .imageTextP {
        font-size: 16px;
    }

    /* Section Projects */
    .projects {
        padding: 20px 200px 0px 200px;
    }

    .project div {
        width: 40%;
        height: 85%;
        background-color: var(--cinza_suave);
    }

    .project p {
        width: 100%;
        height: 40%;
        font-size: 16px;
    }

    .myGit {
        width: 20%;
        height: 50%;
    }
}